<h1>Editing country</h1>

<%= render "form", country: @country %>

<br>

<div>
  <%= link_to "Show this country", @country, class: "btn btn-light" %> |
  <%= link_to "Back to countries", countries_path, class: "btn btn-light" %>
</div>
