<strong>Reviews</strong>

<div id="reviews">
<%# Expands to render partial: "reviews/review", coollection: hotel.reviews %>
<%= render hotel.reviews%>
</div>

<%= render "reviews/new", hotel: hotel %>