<h1>Editing hotel</h1>

<%= render "form", hotel: @hotel %>

<br>

<div>
  <%= link_to "Show this hotel", @hotel, class: "btn btn-light" %> |
  <%= link_to "Back to hotels", hotels_path, class: "btn btn-light" %>
</div>
