<p style="color: green"><%= notice %></p>

<h1>Hotels <%= link_to "Add New Hotel", new_hotel_path, class: "btn btn-light" %> </h1>

<div id="hotels" class="d-flex justify-content-around flex-wrap">
  <% @hotels.each do |hotel| %>
  <div>
    <%= render hotel %>
    <div>
     <%= link_to "Show this hotel", hotel, class: "btn btn-secondary ml-2" %>
    </div>
  </div>
  <% end %>
</div>