<%= form_with(model: [ @hotel, review || Review.new ], class: local_assigns[:class], data: { controller: "review-form", target: "inline-edit.new", action: "submit->review-form#submit"}) do |form| %>
Your Review:<br>
<%= form.text_area :content_review, size: "20x5", class: "form-control" ,placeholder: "Type your review....", data: { target: "review-form.content_review", action: "keyup->review-form#update"} %>
<div data-target="review-form.characterCount"></div>
<%= form.submit %>
<% end %>